<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        var map;
        function InitializeMap() {

            var latlng = new google.maps.LatLng(1.314821,103.939865);
            var myOptions =
                {
                    zoom: 8,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };
            map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
        }

        window.onload = InitializeMap;
    </script>
</head>
<body>
<center>
    <b><h3><p th:text="'Road Transformer!'"/></h3></b>
    <div id="googleMap" style="width:400px;height:400px;"></div>
</center>
</body>
</html>